
.image-resp{
    position: absolute;
    width: 500px;
    height: auto;
    right: 5%;
    top: 50px;
}

.page__body:nth-child(2){
    background-color: #008dff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 98.4%);
    color:#fff
}
.page__body:nth-child(3){
    background-color: #fff;
    color:#000;
}

.page__body:nth-child(4){
    background-color: #008dff;
    color:#fff

}
.page__body:nth-child(5){
    background-color: #fff;
    color:#000;

}

.page__content{
    content: '';
    padding-top: 90px;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.page__body{height: 100vh;}

.base { padding-top: 10rem; padding-bottom: 10rem;}
.base-striped { background-color: #eee;}
.base-flip {}

.base__body .img__inner { text-align: center; display: contents;}

.base-flip .base__intro { order: 2;}
.base-flip .img__inner { order: 1;}
.base__head { margin-bottom: 5rem; text-align: center;}
.base__body { display: flex; align-items: center;height: 65vh;}
.base__title { font-size: 2.5rem;}
.base__desc { font-size: 1.5em; line-height: 1.7; margin-bottom: 1rem; width: 50%;position: absolute;bottom:10%;padding: 20px 50px ;}
.base__intro, .base__body .img__inner { padding: 20px;}
.base__intro{  height: 50vh;}
.base__body .img__inner{ width: 100%;}
/* for JS */
.js-ani-fadeIn-up,
.js-ani-fadeIn-down,
.js-ani-fadeIn-left,

/* page -4 */
.mask { overflow: hidden;}
.img-resp{ width: 100%; height: auto; display: block;}
.slide { position: relative; width: 700px; margin: 2em auto; box-shadow:10px 10px #222;}
.slide .img__inner { position: relative; left: 0; display: flex; transition: left .3s ease;}

.slide .pagination {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

.pagination__item {
    padding: 3px 7px;
    font-size: 1em;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    outline: none;
    cursor: pointer;
}

.pagination__item:hover {
    background-color: #fff;
}

.js-pagination__item,
.js-pagination__item:hover {
    color: #000;
    background-color: orange;
}

.ico-inner{
    background-color: #008dff;
    text-align: center;
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#fff;
}
.ico-desc{
    margin-top: 20px;
    font-size:45px;
    color:#fff;
}