@charset "utf-8";

/* Base */

* {
    font-family: Arial, Helvetica, "微軟正黑體", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* Tools */

.content_p {
    font-size: 30px;
    color: #ffffff;
}

.content_center {
    position: relative;
    /* 絕對 */
    justify-self: center;
    align-self: center;
}

.inner_center {
    position: relative;
    display: grid;
}

.other {
    position: absolute;
    display: block;
    height: 100vh;
}

.txt__desc{
    position: relative;
    font-size: 1.5em;
    margin: 20px 0;
    font-weight: 400;
    letter-spacing: 2px;
}

/* model */
.logo {
    float:left;
    text-transform: uppercase;
    cursor: pointer;
}
.header__inner {
    right: 0;
    transition: 1.5s;
}

.center-flex{
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-content{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}
.txt_title {
    font-size: 6em;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

.txt_content {
    padding: 5px 10px;
    font-size: 4em;
    font-weight: 700;
    line-height: 1em;
    text-transform: uppercase;
}

.btn-white{
    text-decoration: none;
    background: #fff;
    color: #111;
    padding: 10px 30px;
    margin-top: 10px;
}
.sci {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-right: 20px;
    filter: invert(1);
    transform: scale(0.5);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul {
    position: relative;
}

.menu ul li {
    position: relative;
    list-style: none;
    text-align: center;
}

.menu ul li a {
    display: inline-block;
    text-decoration: none;
    font-size: 24px;
    color: #111;
    margin-top: 10px;
}

.nav-head{
    justify-content: left;
    position: fixed;
    height: 10%;
    background-color:rgb(66, 66, 66) ;
    z-index: 1;
}
.nav-head>.header__item{
    width: 100%;
}
/* Layout */
.nav-ul{
    float: right;
}
.nav-li{
    display: inline-block;
    border: 2px solid #ccc;
    margin-right: 10px;
}

.page__body{
    height: 100vh;
}
.page__body:nth-child(2){
    background-color: whitesmoke;
}
.page__body:nth-child(3){
    background-color: #ddd;
}
.page__body:nth-child(4){
    background-color: whitesmoke;
}
.page__body:nth-child(5){
    background-color: #ddd;
}
.page__content{
    content: '';
    background-color: #008dff;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 98.4%);
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.base { padding-top: 10rem; padding-bottom: 10rem;}
.base-striped { background-color: #eee;}
.base-flip {}

.base__body .img__inner { text-align: center;}

.base-flip .base__intro { order: 2;}
.base-flip .img__inner { order: 1;}
.base__head { margin-bottom: 5rem; text-align: center;}
.base__body { display: flex; align-items: center;}
.base__title { font-size: 2.5rem;}
.base__desc { font-size: 1.5em; line-height: 1.7; margin-bottom: 1rem;}
.base__intro, .base__body .img__inner { padding: 20px;}
.base__intro{ width: 50%;}
.base__body .img__inner{ width: 50%;}
