@charset "utf-8";
/* Base */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, "微軟正黑體",sans-serif;
}
/* Tools */
.title_1{ 
    font-size: 70px;
    color : #ffffff;
}
.content_p{
    font-size:30px;
    color : #ffffff;
}
.content_center{
    position: relative; /* 絕對 */
    justify-self: center;
    align-self: center;
}

/* Layout */
.wrap{}
.btn_home{
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: rgb(6, 168, 128);
    color:  #fff;
    cursor: pointer;
    margin-left:30%;
}
.head__inner,
.head_video{
    width: 100%;
    height: 100vh;
}
.head__inner{
    position: relative;
    display: grid;
}
.head_video{
    z-index: -1;
    opacity: .8;
    object-fit:cover;
    position: absolute;
}

.nav__inner{
    background-color: rgb(73, 66, 58);
    height: 50px;
}
.page__head{
    height: 50vh;
    background-color:#ccc ;
}
.title_logo
{
    display: inline-block;
    padding-top: 8px;
    padding-left: 12px;
    font-size: 30px;
    color: #fff;
}
.nav__item{
    position: relative; /* 父層 */
}
.nav_menu{
    float: right;
    list-style-type: none;
    position: absolute;/* 子層 */
    right:15%;
    
}
.nav_menu >li{
    display: inline-block;
}
.nav_menu >li a{
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.search,.nav_menu{top: 15px;}
.search{
    color: #fff;
    right: 20px;
    position: absolute;
}
.search > i{
    margin-right: 5px;
}

.card_inner{
    position: relative;
    height: 50vh;
    background-color: antiquewhite;
    display: grid;
}
.card_item{
    position: relative;
    font-size: 40px;
}
.card_content>a {
    display: inline-block;
    color:black;
    text-decoration: none;
}
.card_content>a i{
    clip-path: circle(50% at 50% 50%);
    color: rgb(95, 84, 84);
    align-content: center;
    justify-content: center;
    font-size: 100px;
    display: grid;
}

.card_content{
    display: inline-block;
    margin-left:100px ;
    margin-right:100px ;
}

.news_inner{
    position: relative;
}
.new_card{
    width: 300px;
    height: 400px;
}