.nav-li a,.logo{
    color: #fff;
}
.logo{
    font-size:35px;
    margin-left: 15px;
}
.nav-li a{
    display: inline-block;
    padding:  5px 25px;
}
.image-resp{
    position: absolute;
    width: 500px;
    height: auto;
    right: 0;
}

.page__body:nth-child(2){
    background-color: #008dff;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 98.4%);
    color:#fff
}
.page__body:nth-child(3){
    color:#000;
}

.page__body:nth-child(4){
    background-color: #008dff;
}
.page__body:nth-child(5){
}

.page__content{
    content: '';
    padding-top: 90px;
    height: 100vh;
    width: 100%;
    z-index: 100;
}

.page__body{height: 100vh;}
.img__inner{position: absolute;}

.base { padding-top: 10rem; padding-bottom: 10rem;}
.base-striped { background-color: #eee;}
.base-flip {}

.base__body .img__inner { text-align: center; display: contents;}

.base-flip .base__intro { order: 2;}
.base-flip .img__inner { order: 1;}
.base__head { margin-bottom: 5rem; text-align: center;}
.base__body { display: flex; align-items: center;height: 65vh;}
.base__title { font-size: 2.5rem;}
.base__desc { font-size: 1.5em; line-height: 1.7; margin-bottom: 1rem;}
.base__intro, .base__body .img__inner { padding: 20px;}
.base__intro{ width: 50%;}
.base__body .img__inner{ width: 100%;}
/* for JS */
.js-ani-fadeIn-up,
.js-ani-fadeIn-down,
.js-ani-fadeIn-left,
.js-ani-fadeIn-right{ transform: translate(0); opacity: 1;}


